<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/app.bundle.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script type="text/javascript">
      <%if(currentUser){%>
        window.currentUser=<%=currentUser%>;
      <%}%>
    </script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
